a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    /* color: turquoise; */
    padding: 5px 10px 5px 10px;
}

.app-card {
    width: 90%;
    height: 130px;
    background-color: white;
    margin: 10px auto 0 auto;
    /* min-height: 130px; */
    display: grid;
    grid-template-columns: 130px 1fr;
    font-family: "Montserrat", sans-serif;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.app-form-header {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    background-color: #800000;
    height: 100px;
    font-weight: 100;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 65%;
    border-radius: 0 50px 50px 0;
    margin-bottom: 0;
}

#app-otd-card {
    margin: 25px auto;
}

.bad {
    font-family: "Chango";
    color: #800000;
    justify-self: flex-start;
    font-size: 20px;
}

.bad:hover {
    color: #B00000;
}

#bad-disabled {
    color: #300000;
    opacity: 60%;
}

#bad-selected {
    color: #B00000;
}

#bad-selected:hover {
    color: #600000;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Monserrat", sans-serif;
    display: grid;
    grid-template-rows: 70px 1fr 40px;
    min-height: 100vh;
}

#cancel {
    color: white;
    background-color: #404040;
    border-radius: 5px;
}

#cancel:hover {
    background-color: #606060;
}

.comment {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    word-wrap: break-word;
    margin: 0;
}

.comment-card {
    width: 80%;
    margin: 20px auto;
    background-color: #B0B0B0;
    height: 100px;
    padding: 7px 15px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 1fr 25px;
    grid-template-columns: 80px 1fr;
}

#comment-delete {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.comment-form>p {
    /* display: block; */
    width: 80%;
    display: flex;
    justify-content: center;
}

.comment-user {
    text-align: right;
    margin: 0;
    color: #606060;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.comment-user-div {
    text-align: right;
    margin: 0;
    color: #606060;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.delete {
    color: white;
    background-color: #800000;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.delete:hover {
    cursor: pointer;
    background-color: #B00000;
}

#delete-app {
    margin: 20px 0 10px 0;
}

#delete-form {
    display: flex;
    align-items: flex-end;
}

.delete-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 30px;
    font-family: "Montserrat", sans-serif;
}

.description {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    display: inline-block;
    padding: 15px;
    margin: 0 25px 25px 25px;
    white-space: pre-wrap;
}

.detail-about {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 36px;
    border-bottom: 2px solid black;
    display: inline-block;
    margin: 0;
}

.detail-about-div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.detail-heading {
    grid-row: 1 / 2;
}

.detail-left {
    grid-column: 1 / 2;
    margin: 10px;
    display: grid;
    grid-template-rows: 200px 200px 1fr;
}

.detail-right {
    background-color: #A0A0A0;
    grid-column: 2 / 3;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}

#detail-name {
    font-family: "Montserrat", sans-serif;
    font-size: 64px;
    margin: 0;
    font-weight: 100;
    /* height: 80px; */
}

#detail-photo {
    margin: 20px;
    height: 15%;
    width: 15%;
}

#detail-slogan {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 100;
    background-color: #A0A0A0;
    padding: 4px;
    margin: 10px 0 0 -10px;
    border-radius: 0 20px 20px 0;
}

.detail-tags-div {
    display: flex;
    
}

.detail-vote-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.edit {
    color: white;
    background-color: #404040;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.edit-app {
    font-family: "Montserrat", sans-serif;

}

.edit:hover {
    cursor: pointer;
    background-color: #606060;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.far-right {
    margin-right: 20px;
}

footer {
    background-color: #202020;
    color: #DDDDDD;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 2px solid white;
}

.footer-div {
    margin-right: 15px;
}

.good {
    font-family: "Chango";
    color: #008000;
    font-size: 20px;
}

.good:hover {
    color: #00B000;
}

#good-disabled {
    color: #003000;
    opacity: 60%;
}

#good-selected {
    color: #00B000;
}

#good-selected:hover {
    color: #006000;
}

#greeting {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #202020;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-row: 1 / 2;
}

#header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-logo {
    width: 55px;
    height: 55px;
    /* margin-left: 15px; */
    background-image: url("https://i.imgur.com/e9pPCum.png?1");
    background-size: 100%;
}

header a {
    color: white;
}

header a:hover {
    color: #AA4040;
}

.home-left {
    /* background-color: teal; */
    grid-column: 1 / 2;
    margin: 10px;
    display: grid;
    grid-template-rows: 250px 1fr;
}

.home-right {
    background-color: #A0A0A0;
    grid-column: 2 / 3;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}

.info-div {
    text-align: center;
    display: grid;
    grid-template-rows: 50px 1fr 29px;
}

#id_name, #id_description, #id_slogan, #id_group {
    width: 100%;
}

#id_words {
    width: 60%;
    padding: 10px;
    height: 100px;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.5);
}

.login {
    color: white;
    background-color: #404040;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin: 10px 0 0 55px;
}

.login:hover {
    background-color: #606060;
    cursor: pointer;
    
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0 0 40px;
    font-family: "Montserrat", sans-serif;
}

main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 3fr;
    /* margin: 10px; */
}

.name {
    font-size: 30px;
    margin: 10px 0 0 0;
    color: #202020;
}

#of-the-day {
    grid-row: 1 / 2;
    margin-bottom: 5px;
    background-color: #800000;
    /* text-align: center; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    width: 100%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}

p>label {
    display: none;
}

.photo {
    border-radius: 50%;
    min-height: 120px;
    min-width: 120px;
    max-height: 120px;
    max-width: 120px;
    border: 1px solid white;
}

.photo-div {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-form {
    margin-left: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

#popular {
    grid-row: 2 / 3;
    margin-top: 5px;
    background-color: #202020;
    border-radius: 5px;
    height: 550px;
    width: 100%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}

.right-border {
    border-right: 1px solid #DDDDDD;
}

.section-title {
    font-weight: 100;
    border-radius: 0px 25px 25px 0 ;
    background-color: white;
    /* background-color: rgba(255, 255, 255, 0.8); */
    display: inline-block;
    padding: 5px 15px 5px 15px;
    font-family: "Montserrat", sans-serif;
    margin: 20px 0 0 0 ;
    text-align: center;
    width: 300px;
    color: #800000;
    
}

.slogan {
    color: black;
    font-size: 18px;
    margin: 0;
    max-width: 80%;
}

.slogan-div {
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    color: white;
    background-color: #008000;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.submit:hover {
    cursor: pointer;
    background-color: #00B000;
}

.tags {
    display: inline-block;
    margin: 0 3px;
    color: white;
    border: 1px solid #A00000;
    padding: 3px;
    border-radius: 5px;
    background-color: #A00000;
    font-size: 12px;
}

.tags-div {
    text-align: right;   
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-end;
}

th {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.timestamp {
    margin: 0 15px 0 0;
    color: #909090;
}

li {
    list-style: none;
}

#vote-count {
    margin: 0;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 2px 7px 2px 7px;
    border-radius: 5px;
    color: white;
}

#you-sure {
    margin: 10px;
}