{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad App App</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <li><a href="/apps">My Apps</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log In</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>