{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Chango|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
    <title>BadApp App</title>
</head>
<body>
    <header>
        <div id="header-left">
            <a href="{% url 'home' %}"><div id="header-logo"></div></a>
            {% if user.is_authenticated %}
                <a>Welcome, Bitch!</a>
            {% endif %}
        </div>
        <nav class="header-nav">
                <a href="{% url 'about' %}" class="right-border">About</a>
            {% if user.is_authenticated %}
                <a href="{% url 'app_create' %}" class="right-border">Create a BadApp</a>
                <a href="{% url 'home' %}" class="right-border">My BadApps</a>
                <a href="{% url 'index' %}" class="right-border">Browse BadApps</a>
                <a href="{% url 'logout' %}">Log Out &nbsp;</a>
            {% else %}
                <a href="{% url 'login' %}">Log In</a>
                <a href="{% url 'signup' %}">Sign Up &nbsp;</a>
            {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-div">All Rights Reserved, &copy; 2020 BadApp App</div>
    </footer>
</body>
</html>