{% extends 'base.html' %}

{% block content %}
    <div class="home-left">
        <a href="{% url 'detail' random_app.id %}">
            <div id="of-the-day">
                <h2 class="section-title">BadApp of the Day</h2>
                <div class="otd">
                    <div class="otd-photo-div">
                        <img class="otd-photo" src="https://i.imgur.com/0FDqF1O.png">
                    </div>
                    <div class="otd-info-div">
                        <div class="otd-name-div">
                            <h3 class="otd-name">{{random_app.name}}</h3>
                        </div>
                        <div class="otd-slogan-div"></div>
                        <div class="tags-div">
                            <p class="tags"><em>#{{ random_app.get_tag_display }}</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        
        <div id="popular">
            <h2 class="section-title">Popular BadApps</h2>
            {% if pop_apps %}
            {% for app in pop_apps %}
            <a href="{% url 'detail' app.id %}">
                <div class="otd">
                    <div class="otd-photo-div">
                        <img class="otd-photo" src="https://i.imgur.com/e9pPCum.png?1">
                    </div>
                    <div class="otd-info-div">
                        <div class="otd-name-div">
                            <h3 class="otd-name">{{ app.name }}</h3>
                        </div>
                        <div class="otd-slogan-div">
                            <h5 class="otd-slogan">{{ app.slogan }}</h5>
                        </div>
                        <div class="tags-div">
                            <p class="tags"><em>#{{ app.get_tag_display }}</em></p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="home-right">
        <h2 class="section-title">My BadApps</h2>
        
        {% if pop_apps %}
        {% for app in my_apps %}
            <div class="otd">
                <div class="otd-photo-div">
                    <img class="otd-photo" src="https://i.imgur.com/e9pPCum.png?1">
                </div>
                <div class="otd-info-div">
                    <div class="otd-name-div">
                        <h3 class="otd-name">{{ app.name }}</h3>
                    </div>
                    <div class="otd-slogan-div">
                        <h5 class="otd-slogan">{{ app.slogan }}</h5>
                    </div>
                    <div class="tags-div">
                        <p class="tags"><em>#{{ app.get_tag_display }}</em></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}