{% extends 'base.html' %}

{% block content %}
    <div class="home-left">
        <div id="of-the-day">
            <a href="{% url 'detail' random_app.id %}">
                <h2 class="section-title">BadApp of the Day</h2>
                <div class="app-card" id="app-otd-card">
                    <div class="photo-div">
                        <img class="photo" src="">
                    </div>
                    <div class="info-div">
                        <div class="name-div">
                            <h3 class="name">{{random_app.name}}</h3>
                        </div>
                        <div class="slogan-div">
                            <h5 class="slogan">{{ random_app.slogan }}</h5>
                        </div>
                        <div class="tags-div">
                            <p class="tags"><em>#{{ random_app.get_tag_display }}</em></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
        <div id="popular">
            <h2 class="section-title">Popular BadApps</h2>
            <br>
            {% if pop_apps %}
            {% for app in pop_apps %}
            <a href="{% url 'detail' app.id %}">
                <div class="app-card">
                    <div class="photo-div">
                        <img class="photo" src="https://i.imgur.com/e9pPCum.png?1">
                    </div>
                    <div class="info-div">
                        <div class="name-div">
                            <h3 class="name">{{ app.name }}</h3>
                        </div>
                        <div class="slogan-div">
                            <h5 class="slogan">{{ app.slogan }}</h5>
                        </div>
                        <div class="tags-div">
                            <p class="tags"><em>#{{ app.get_tag_display }}</em></p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="home-right">
        <h2 class="section-title">My BadApps</h2>
        <br>
        {% if my_apps %}
        {% for app in my_apps %}
            <a href="{% url 'detail' app.id %}">
                <div class="app-card">
                    <div class="photo-div">
                        <img class="photo" src="https://i.imgur.com/e9pPCum.png?1">
                    </div>
                    <div class="info-div">
                        <div class="name-div">
                            <h3 class="name">{{ app.name }}</h3>
                        </div>
                        <div class="slogan-div">
                            <h4 class="slogan">{{ app.slogan }}</h4>
                        </div>
                        <div class="tags-div">
                            <p class="tags"><em>#{{ app.get_tag_display }}</em></p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        {% endif %}
        
    </div>
{% endblock %}