{% extends 'base.html' %}

{% block content %}
<div class="home-left">
    <div class="detail-heading">
        <h5 id="detail-name">{{ app.name }}</h5>
        <div class="detail-tags-div">
            <p class="tags"><em>#{{ app.get_tag_display }}</em></p>
            {% if app.user == request.user %}
            <div class="detail-edit-div">
                <a href="{% url 'app_update' app.id %}">EDIT</a>
                <a href="{% url 'app_delete' app.id %}">DELETE</a>
            </div>
            {% endif %}
        </div>
        <h4 id="detail-slogan">&nbsp;{{ app.slogan }}</h4>
        <div class="detail-vote-div">
            {% if voted %}
                {% if vote_value == 1 %}
                    <a class="bad" id="bad-disabled">BAD</a>
                    {% if app.net_votes == 0 %}
                        <p style="background-color:#505050" id="vote-count">{{ app.net_votes }}</p>
                    {% elif app.net_votes > 0 %}
                        <p style="background-color:#008000" id="vote-count">{{ app.net_votes }}</p>
                    {% else %}
                        <p style="background-color:#800000" id="vote-count">{{ app.net_votes }}</p>
                    {% endif %}
                    <a href="{% url 'remove_good' app.id %}" class="good" id="good-selected">GOOD</a>
                {% elif vote_value == -1 %}
                    <a href="{% url 'remove_bad' app.id %}" class="bad" id="bad-selected">BAD</a>
                    {% if app.net_votes == 0 %}
                        <p style="background-color:#505050" id="vote-count">{{ app.net_votes }}</p>
                    {% elif app.net_votes > 0 %}
                        <p style="background-color:#008000" id="vote-count">{{ app.net_votes }}</p>
                    {% else %}
                        <p style="background-color:#800000" id="vote-count">{{ app.net_votes }}</p>
                    {% endif %}
                    <a class="good" id="good-disabled">GOOD</a>
                {% endif %}
            {% else %}
                <a href="{% url 'bad' app.id %}" class="bad">BAD</a>
                    {% if app.net_votes == 0 %}
                        <p style="background-color:#505050" id="vote-count">{{ app.net_votes }}</p>
                    {% elif app.net_votes > 0 %}
                        <p style="background-color:#008000" id="vote-count">{{ app.net_votes }}</p>
                    {% else %}
                        <p style="background-color:#800000" id="vote-count">{{ app.net_votes }}</p>
                    {% endif %}
                <a href="{% url 'good' app.id %}" class="good">GOOD</a>
            {% endif %}
        </div>
    </div>
    <form action="{% url 'add_photo' app.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <input type="submit" value="Upload Photo">
    </form>
    
</div>
<div class="home-right">
    <div class="detail-about-div">
        {% if app.photo_set.all %}
            {% for photo in app.photo_set.all %}
                <img class="photo" id="detail-photo" src="{{photo.url}}">
            {% endfor %}
        {% else %}
            <img class="photo" id="detail-photo" src="https://i.imgur.com/0FDqF1O.png">
        {% endif %}
        <h2 class="detail-about">About {{ app.name }}</h2>
    </div>
    <p class="description">{{ app.description }}</p>
</div>






{% endblock %}

