{% extends 'base.html' %}

{% block content %}
<div class="detail-left">
    <div class="detail-heading">
        <h5 id="detail-name">{{ app.name }}</h5>
        <div class="detail-tags-div">
            {% if app.user == request.user %}
            <div class="detail-edit-div">
                <a class="delete" href="{% url 'app_delete' app.id %}">DELETE</a>
                <a class="edit" href="{% url 'app_update' app.id %}">EDIT</a>
            </div>
            {% endif %}
            <p class="tags"><em>#{{ app.get_tag_display }}</em></p>
        </div>
        <h4 id="detail-slogan">&nbsp;{{ app.slogan }}</h4>
        <div class="detail-vote-div">
            {% if voted %}
                {% if vote_value == 1 %}
                    <a class="bad" id="bad-disabled">BAD</a>
                    {% if app.net_votes == 0 %}
                        <p style="background-color:#505050" id="vote-count">{{ app.net_votes }}</p>
                    {% elif app.net_votes > 0 %}
                        <p style="background-color:#008000" id="vote-count">{{ app.net_votes }}</p>
                    {% else %}
                        <p style="background-color:#800000" id="vote-count">{{ app.net_votes }}</p>
                    {% endif %}
                    <a href="{% url 'remove_good' app.id %}" class="good" id="good-selected">GOOD</a>
                {% elif vote_value == -1 %}
                    <a href="{% url 'remove_bad' app.id %}" class="bad" id="bad-selected">BAD</a>
                    {% if app.net_votes == 0 %}
                        <p style="background-color:#505050" id="vote-count">{{ app.net_votes }}</p>
                    {% elif app.net_votes > 0 %}
                        <p style="background-color:#008000" id="vote-count">{{ app.net_votes }}</p>
                    {% else %}
                        <p style="background-color:#800000" id="vote-count">{{ app.net_votes }}</p>
                    {% endif %}
                    <a class="good" id="good-disabled">GOOD</a>
                {% endif %}
            {% else %}
                <a href="{% url 'bad' app.id %}" class="bad">BAD</a>
                    {% if app.net_votes == 0 %}
                        <p style="background-color:#505050" id="vote-count">{{ app.net_votes }}</p>
                    {% elif app.net_votes > 0 %}
                        <p style="background-color:#008000" id="vote-count">{{ app.net_votes }}</p>
                    {% else %}
                        <p style="background-color:#800000" id="vote-count">{{ app.net_votes }}</p>
                    {% endif %}
                <a href="{% url 'good' app.id %}" class="good">GOOD</a>
            {% endif %}
        </div>
    </div>
    <form class="comment-form" action="{% url 'add_comment' app.id %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input id="add-comment-button" type="submit" value="Add Comment">
    </form> 
    <div class="comment-cards">
        {% for comment in comments %}
        <div class="comment-card">
            <p class="comment">{{ comment.words }}</p>
            <div class="comment-user-div">
                <p class="timestamp">{{ comment.timestamp }}</p>
                <p class="comment-user">-{{ comment.user }}</p>
            </div>
            {% if comment.user == request.user %}
            <form id="delete-form" action="{% url 'delete_comment' app.id comment.id %}" method="post">
                {% csrf_token %}
                <input id="comment-delete" type="submit" value="DELETE!">
            </form>
            {%  endif %}
        </div>
        {% endfor %}
    </div>
</div>
<div class="detail-right">
    <div class="detail-about-div">
        {% if app.photo_set.all %}
            {% for photo in app.photo_set.all %}
                <img class="photo" id="detail-photo" src="{{photo.url}}">
            {% endfor %}
        {% else %}
            <img class="photo default-photo" id="detail-photo" src="https://www.sitepronews.com/wp-content/uploads/2016/11/website-1778529_640.png">
        {% endif %}
        <h2 class="detail-about">About {{ app.name }}</h2>
    </div>
    {% if app.user == request.user %}
    {% if app.photo_set.all %}
    {% else %}
        <form class="photo-form" action="{% url 'add_photo' app.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <input type="submit" value="Upload Photo">
        </form>
    {% endif %}
    {% endif %}
    <p class="description">{{ app.description }}</p>
</div>






{% endblock %}

